<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form Faculty</title>

    <!-- Font Icon -->
	<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
    <link rel="stylesheet" href="/static/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/static/vendor/nouislider/nouislider.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/static/css/stylee.css">
</head>
<body>

    <div class="main">

        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="/static/images/form-img.jpg" alt="">
                    <div class="signup-img-content">
                        <h2>Register now </h2>
                        <p><b>MAIIC.Education.</b></p>
						<p>"कि कि न साधयति  कल्पलतेव  विद्या".</p>
						<p>"Every wish can be fulfilled by Vidya like a Kalpavriksh".</p>
                    </div>
                </div>
                <div class="signup-form">



                    <form method="POST" class="register-form" id="register-form">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="first_name" class="required">First name</label>
                                    <input type="text" name="first_name" id="first_name" />
                                </div>
                                <div class="form-input">
                                    <label for="last_name" class="required">Last name</label>
                                    <input type="text" name="last_name" id="last_name" />
                                </div>
                                 <div class="form-input">
                                    <label for="email" class="required">Email</label>
                                    <input type="text" name="email" id="email" />
                                </div>
                                <div class="form-input">
                                    <label for="phone_number" class="required">Phone number</label>
                                    <input type="text" name="phone_number" id="phone_number" />
                                </div>
                                <div class="form-input">
                                    <label for="city" class="required">City</label>
                                    <input type="text" name="city" id="city" />
                                </div>
								<div class="form-input">
                                    <label for="address" class="required">Current Address</label>
                                    <input type="text" name="current_Address" id="Current_address" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-select">
                                    <div class="label-flex">
                                        <label for="teaching_for" class="required">Teaching For </label>
                                        <!---  <a href="#" class="form-link">Select Subject</a>  ---->
                                    </div>
                                    <div class="select-list">
                                        <select name="subject" id="Select_Subject">
                                            <option value=""></option>
                                            <option value="Maths">Maths</option>
                                            <option value="Science">Science</option>
											<option value="Social_Science">Social Science</option>
											<option value="English">English</option>
											<option value="Hindi">Hindi</option>
											
                                        </select>
                                    </div>
                                </div>
                                 <div class="form-input">
                                    <label for="uid_number" class="required">UID Number</label>
                                    <input type="text" name="uid_number" id="uid_number" />
                                </div>
								<div class="form-input">
                                    <label for="bank_name" class="required">Bank Name</label>
                                    <input type="text" name="bank_name" id="bank_name" />
                                </div>
                                <div class="form-input">
                                    <label for="account_number" class="required">Account Number</label>
                                    <input type="text" name="account_number" id="account_number" />
                                </div>
                                <div class="form-input">
                                    <label for="account_holder_name" class="required">Account HOLDER Name</label>
                                    <input type="text" name="account_holder_name" id="account_holder_name" />
                                </div>
                                <div class="form-input">
                                    <label for="ifsc_code" class="required">IFSC CODE</label>
                                    <input type="text" name="ifsc_code" id="ifsc_code" />
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="submit" value="Submit" class="submit" id="submit" name="submit" />
                            <input type="submit" value="Reset" class="submit" id="reset" name="reset" />
                        </div>
                    </form>



                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/nouislider/nouislider.min.js"></script>
    <script src="/static/vendor/wnumb/wNumb.js"></script>
    <script src="/static/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/static/vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="/static/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>