<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form</title>

    <!-- Font Icon -->
    <link rel="icon" type="image/png" href="/static/images/icons/favicon.ico" />
    <link rel="stylesheet" href="/static/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/static/vendor/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Main css -->
    <link rel="stylesheet" href="/static/css/stylee.css">
</head>

<body>

    <div class="main">

        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="/static/images/form-img.jpg" alt="">
                    <div class="signup-img-content">
                        <h2>Register now </h2>
                        <p><b>MAIIC.Education.</b></p>
                        <p>"कि कि न साधयति कल्पलतेव विद्या".</p>
                        <p>"Every wish can be fulfilled by Vidya like a Kalpavriksh".</p>
                    </div>
                </div>
                <div class="signup-form">

                    <form method="POST"  action="{{ url_for('student_registration') }}" class="register-form" id="register-form">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="first_name" class="required">First name</label>
                                    <input type="text" name="first_name" id="first_name" required>
                                </div>
                                <div class="form-input">
                                    <label for="email" class="">Student Email</label>
                                    <input type="email" name="student_email" id="email" required>
                                </div>
                                <div class="form-input">
                                    <label for="email" class="required">Parents Email</label>
                                    <input type="email" name="parent_email" id="email" required>
                                </div>
                                <div class="form-input">
                                    <label for="city" class="required">City</label>
                                    <input type="text" name="city" id="city" required>
                                </div>
                                <div class="form-select">
                                    <div class="label-flex">
                                        <label for="meal_preference" class="required">Course Enrollment</label>

                                    </div>
                                    <div class="select-list">
                                        <p class="std-id">Select your education board</p>
                                        <select name="standard" id="standard" class="required">
                                            <option value="none"></option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>

                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-input">
                                    <label for="last_name" class="required"> Last name</label>
                                    <input type="text" name="last_name" id="lasy_name" required>
                                </div>
                                <div class="form-input">
                                    <label for="phone_number" class="required">Student Contact Number</label>
                                    <input type="text" name="student_phone_number" id="phone_number" required>
                                </div>
                                <div class="form-input">
                                    <label for="phone_number" class="required">Parents Contact Number</label>
                                    <input type="text" name="parent_phone_number" id="phone_number" required>
                                </div>
                                <div class="form-input">
                                    <label for="address" class="required">Current Address</label>
                                    <input type="text" name="current_address" id="Current address" required>
                                </div>
                                <div class="form-select">
                                    <div class="label-flex">
                                        <label class="required">Education Board</label>

                                    </div>
                                    <div class="select-list">
                                        <p class="board-id">Select your education board</p>
                                        <select name="board" id="board" class="required">

                                            <option value="none"></option>
                                            <option value="State Board">State Board</option>
                                            <option value="CBSC">CBSC</option>
                                            <option value="ICSC">ICSE</option>
                                            <option value="IGCSE">IGCSE</option>

                                        </select>
                                    </div>
                                </div>
                                <label for="subject" class="required">Select Subject</label>


                                <div class="form-row">

                                    MATH: <input type="checkbox" name="sub" value="Math">

                                    SCIENCE: <input type="checkbox" name="sub" value="Science">

                                    English: <input type="checkbox" name="sub" value="English" disabled>

                                    Hindi: <input type="checkbox" name="sub" value="Hindi" disabled>




                                </div>




                            </div>
                        </div>
                        <div class="">

                            <button type="submit">Submit</button>
                            <button><a href="/">Home</a></button>

                        </div>



                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->

    </script>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/nouislider/nouislider.min.js"></script>
    <script src="/static/vendor/wnumb/wNumb.js"></script>
    <script src="/static/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/static/vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="/static/js/main.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>