{% extends "dashboard_layout.html" %}

{% block body %}
<!----------------------------------------------------
<div id="port-folio">
  <div class="row ">
  	{% for video in videos %}
  	{{ video }}
    <div class="col-md-4 ">
      <div class="portfolio-item awesome mix_all" data-cat="awesome">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="{{video[0]}}"></iframe>
        </div>
      </div>
 		</div>
 		{% endfor %}
 	</div>
</div>

<div class="container">
  <h2></h2>
</div>
---------------------------------->
{% endblock %}